<p id="notice"><%= notice %></p>

<p>
  <strong>Asistente:</strong>
  <%= @asistente.asistente %>
</p>

<p>
  <strong>Asistente:</strong>
  <%= @asistente.asistente %>
</p>

<p>
  <strong>Empleado:</strong>
  <%= @asistente.empleado %>
</p>

<%= link_to 'Edit', edit_asistente_path(@asistente) %> |
<%= link_to 'Back', asistentes_path %>
