<p id="notice"><%= notice %></p>

<p>
  <strong>Empleado:</strong>
  <%= @justificacion.empleado_id %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @justificacion.tipo %>
</p>

<p>
  <strong>Empleado elaboro:</strong>
  <%= @justificacion.empleado_elaboro_id %>
</p>

<p>
  <strong>Empleado autorizo:</strong>
  <%= @justificacion.empleado_autorizo_id %>
</p>

<p>
  <strong>Requisicion:</strong>
  <%= @justificacion.requisicion %>
</p>

<p>
  <strong>Proyecto:</strong>
  <%= @justificacion.proyecto %>
</p>

<p>
  <strong>Proveedor uno:</strong>
  <%= @justificacion.proveedor_uno %>
</p>

<p>
  <strong>Proveedor dos:</strong>
  <%= @justificacion.proveedor_dos %>
</p>

<p>
  <strong>Proveedor tres:</strong>
  <%= @justificacion.proveedor_tres %>
</p>

<p>
  <strong>Bien servicio:</strong>
  <%= @justificacion.bien_servicio %>
</p>

<p>
  <strong>Subtotal:</strong>
  <%= @justificacion.subtotal %>
</p>

<p>
  <strong>Iva:</strong>
  <%= @justificacion.iva %>
</p>

<p>
  <strong>Importe:</strong>
  <%= @justificacion.importe %>
</p>

<p>
  <strong>Condiciones pago:</strong>
  <%= @justificacion.condiciones_pago %>
</p>

<p>
  <strong>Datosbanco:</strong>
  <%= @justificacion.datosbanco %>
</p>

<p>
  <strong>Razoncompra:</strong>
  <%= @justificacion.razoncompra %>
</p>

<p>
  <strong>Terminos entrega:</strong>
  <%= @justificacion.terminos_entrega %>
</p>

<p>
  <strong>Plazo entrega:</strong>
  <%= @justificacion.plazo_entrega %>
</p>

<p>
  <strong>Rfc:</strong>
  <%= @justificacion.rfc %>
</p>

<p>
  <strong>Curp:</strong>
  <%= @justificacion.curp %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @justificacion.telefono %>
</p>

<p>
  <strong>Email:</strong>
  <%= @justificacion.email %>
</p>

<p>
  <strong>Fecha inicio:</strong>
  <%= @justificacion.fecha_inicio %>
</p>

<p>
  <strong>Fecha termino:</strong>
  <%= @justificacion.fecha_termino %>
</p>

<p>
  <strong>Fecha elaboracion:</strong>
  <%= @justificacion.fecha_elaboracion %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @justificacion.descripcion %>
</p>

<p>
  <strong>Monto uno:</strong>
  <%= @justificacion.monto_uno %>
</p>

<p>
  <strong>Monto dos:</strong>
  <%= @justificacion.monto_dos %>
</p>

<p>
  <strong>Monto tres:</strong>
  <%= @justificacion.monto_tres %>
</p>

<p>
  <strong>Domicilio:</strong>
  <%= @justificacion.domicilio %>
</p>

<p>
  <strong>Moneda:</strong>
  <%= @justificacion.moneda %>
</p>

<p>
  <strong>Es unico:</strong>
  <%= @justificacion.es_unico %>
</p>

<p>
  <strong>Plazo:</strong>
  <%= @justificacion.plazo %>
</p>

<p>
  <strong>Num pagos:</strong>
  <%= @justificacion.num_pagos %>
</p>

<p>
  <strong>Porcen anticipo:</strong>
  <%= @justificacion.porcen_anticipo %>
</p>

<p>
  <strong>Autoriza cargo:</strong>
  <%= @justificacion.autoriza_cargo %>
</p>

<p>
  <strong>Forma pago:</strong>
  <%= @justificacion.forma_pago %>
</p>

<p>
  <strong>Num dias plazo:</strong>
  <%= @justificacion.num_dias_plazo %>
</p>

<p>
  <strong>Motivo selection:</strong>
  <%= @justificacion.motivo_selection %>
</p>

<p>
  <strong>Es nacional:</strong>
  <%= @justificacion.es_nacional %>
</p>

<%= link_to 'Edit', edit_justificacion_path(@justificacion) %> |
<%= link_to 'Back', justificaciones_path %>
